.view{
    background-color: rgb(212, 219, 22);
    text-align: center;
    font-style: italic;
}

table{
    margin: auto;
    border-collapse: collapse;
    font-style: italic;
}

th, td {
  padding: 10px;
}


button{
    border: 0px;
    font-style: italic;
}