.delete{
    background-color: rgb(8, 210, 250);
    text-align: center;
    font-style: italic;
}

table{
    margin: auto;
    border-collapse: collapse;
    font-style: italic;
}

th, td {
  padding: 10px;
}


button{
    border: 0px;
    font-style: italic;
}